POSTGRES_USER=pguser
POSTGRES_PASSWORD=securepass
POSTGRES_DB=example_db
DB_PORT=7777
DATABASE_URL=postgresql://pgviewsuser:securepass1234@db:7776/example_db
NEXT_PUBLIC_API_URL=http://api:9990/api
API_PORT=9990